body {
  background: linear-gradient(
    89deg,
    rgb(21, 74, 189) 0.1%,
    rgb(26, 138, 211) 51.5%,
    rgb(72, 177, 234) 100.2%
  );
}
.container {
  background: rgb(255, 255, 255);
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
  margin: 20px auto;
  max-width: 650px;
  padding: 15px 20px 5px 20px;
  text-align: center;
}

h1 {
  font-size: 35px;
  margin-bottom: 5px;
  text-align: left;
}

h2 {
  font-size: 18px;
  line-height: 40px;
  margin-top: 5px;
  text-align: center;
}

ul {
  float: left;
  list-style-type: none;
}

.current-weather {
  background-color: rgba(68, 174, 232, 0.35);
  border-radius: 10px;
  margin: 7px 0;
  padding: 7px 10px;
}
.current-weather-summary {
  font-size: 16px;
  padding: 0;
  text-align: left;
  line-height: 0.8;
  margin-top: 3px;
  margin-bottom: 10px;
}
#current-weather-description:first-letter {
  text-transform: capitalize;
}
#current-weather-icon {
  height: 100%;
  margin: 0px;
  vertical-align: -30px;
}
.current-temp-number {
  font-size: 60px;
}
.degree-selector {
  font-size: 20px;
  vertical-align: 28px;
}

.degree-selector .active {
  color: rgb(33, 33, 33);
}

a {
  text-decoration: none;
}
.current-weather-details {
  font-size: 16px;
  margin: 10px;
  padding: 0px 30px;
  text-align: left;
}

.footnote-icon {
  font-size: small;
  vertical-align: super;
}

.five-days-weather {
  background-color: rgba(68, 174, 232, 0.35);
  border-radius: 10px;
  margin-top: 10px;
  padding: 7px 10px;
  text-align: center;
}

.forecast-day {
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
}

.five-days-forecast-icons {
  width: 60px;
}
.high-temp {
  font-weight: 500;
}
.low-temp {
  font-weight: normal;
}
.search-button {
  background-color: rgb(21, 74, 189);
  border-radius: 4px;
  border: 1px solid rgb(21, 74, 189);
  box-shadow: 2px 2px 2px rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding: 5px 10px;
  margin: 0px 3px;
  font-size: 16px;
}
.search-field {
  box-shadow: 1px 1px 3px rgb(0, 0, 0);
  margin: 5px 0px;
  padding: 5px 10px;
  width: 330px;
}
.current-location {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 4px;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 2px 2px 2px rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding: 5px 10px;
  font-size: 16px;
}

.coded-by {
  font-size: smaller;
  margin: 5px 10px 0px 5px;
}
